
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 5vh 5vw ;
  margin-left: 18vw;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ups-title {
  color: var(--Main-color, #3BA1FF);
  font-family: Rubik;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0.1rem;
}

.error-title {
  color: var(--00000080, rgba(0, 0, 0, 0.80));
  font-family: Rubik;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
}

p {
  color: var(--00000080, rgba(0, 0, 0, 0.80));
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
  text-align: start;
  margin-top: 0.2rem;
  margin-bottom: 4rem;
}

.custom-button {
  display: flex;
  width: 14vw;
  height: 3rem;
  padding: 0.1em 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  background: var(--Main-color, #3BA1FF);
  color: var(--white-white, #FFF);
}
@media screen and (max-width: 767px) {
  .custom-button {
    width: 100%;
    font-size: 0.8rem; 
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .custom-button {
    width: 50%;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .custom-button {
    width: 15vw;
    font-size: 1rem; 
  }
}
.text-container{
  width: 361px;
}
@media screen and (max-width: 479px) {
  .text-container {
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .text-container {
    width: 300px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .text-container {
    width: 361px;
  }
}
a {
  text-decoration: none;
}

